<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span class="text-small">
    Don't have an account yet? <%= link_to "Create one", new_registration_path(resource_name) %>
  </span>
<% end -%>